@import url("https://fonts.googleapis.com/css?family=Exo:300,400,400i,500,600,700,800,900&amp;display=swap");

html {

  scroll-behavior: smooth;

}



body {

  font-family: "Exo";

  color: #082967;

  font-size: 14px;

  line-height: 25px;

}



body h1,

body h2,

body h3,

body h4,

body h5,

body h6 {

  margin-bottom: 0;

  font-family: "Exo";

}



body input,

body a,

body button {

  -webkit-transition: all .4s ease-in-out 0s;

  transition: all .4s ease-in-out 0s;

}



body a {

  text-decoration: none;

  color: #082967;

  -webkit-transition: all .4s ease-in-out 0s;

  transition: all .4s ease-in-out 0s;

}



body a:hover {

  color: #0bc1bb;

  text-decoration: none;

}



body a:focus,

body a:active {

  outline: none;

}



body ul {

  margin: 0;

  padding: 0;

  list-style: none;

}



body img {

  max-width: 100%;

}



.header-area {

  position: fixed;

  left: 0;

  top: 0;

  width: 100%;

  z-index: 11;

  padding: 20px 0;

  -webkit-transition: all .4s ease-in-out 0s;

  transition: all .4s ease-in-out 0s;

}



.header-area.sticky-header {

  background: #fff;

  padding: 15px 0;

  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

}



.mainmenu {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

}



.mainmenu li {

  margin-right: 30px;

}



.mainmenu li:last-child {

  margin-right: 0;

}



.mainmenu li a {

  font-size: 16px;

  font-weight: 500;

  color: #2a2a33;

}



.mainmenu li a:hover, .mainmenu li a.active {

  color: #2c76e2;

}



.hero-area {

  background: #e3f4fe;

  min-height: 800px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  position: relative;

  z-index: 1;

  overflow: hidden;

}



@media (max-width: 1200px) {

  .hero-area {

    min-height: 650px;

  }

}



@media (max-width: 991px) {

  .hero-area {

    min-height: 500px;

  }

}



.hero-area::before {

  position: absolute;

  right: 0;

  top: 0px;

  content: url(../images/hero.png);

  z-index: -1;

}



@media (max-width: 1200px) {

  .hero-area::before {

    display: none;

  }

}



.btn-style {

  min-height: 50px;

  display: -webkit-inline-box;

  display: -ms-inline-flexbox;

  display: inline-flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

  min-width: 150px;

  padding: 5px 25px;

  background: #2c76e2;

  color: #fff;

  border-radius: 5px;

  border: 2px solid #2c76e2;

}



.btn-style:hover {

  background: transparent;

  color: #2c76e2;

}



.hero-content h2 {

  font-size: 60px;

  font-weight: 700;

  line-height: 70px;

  margin-bottom: 30px;

}



@media (max-width: 991px) {

  .hero-content h2 {

    font-size: 40px;

    line-height: 50px;

  }

}



.hero-content p {

  color: #7d8990;

  font-size: 18px;

  line-height: 28px;

  font-weight: 500;

  margin-bottom: 40px;

}



.hero-img1 {

  position: absolute;

  right: 500px;

  bottom: 0px;

  -webkit-animation: mover 2s infinite alternate;

          animation: mover 2s infinite alternate;

}



@media (max-width: 1800px) {

  .hero-img1 {

    width: 450px;

    right: 370px;

  }

}



@media (max-width: 1200px) {

  .hero-img1 {

    display: none;

  }

}



.hero-img2 {

  position: absolute;

  right: 0;

  top: 140px;

  -webkit-animation: mover 2.2s infinite alternate;

          animation: mover 2.2s infinite alternate;

}



@media (max-width: 1800px) {

  .hero-img2 {

    width: 400px;

  }

}



@media (max-width: 1200px) {

  .hero-img2 {

    display: none;

  }

}



.hero-img3 {

  position: absolute;

  right: 0;

  bottom: 0;
  border-radius: 8px;

  -webkit-animation: mover 2.5s infinite alternate;

          animation: mover 2.5s infinite alternate;

}



@media (max-width: 1800px) {

  .hero-img3 {

    width: 400px;

  }

}



@media (max-width: 1200px) {

  .hero-img3 {

    display: none;

  }

}



@-webkit-keyframes mover {

  0% {

    -webkit-transform: translateY(0);

            transform: translateY(0);

  }

  100% {

    -webkit-transform: translateY(-15px);

            transform: translateY(-15px);

  }

}



.demo-area {

  padding-top: 120px;

}



.section-title {

  text-align: center;

  font-size: 38px;

  font-weight: 700;

  margin-bottom: 50px;

}



@media (max-width: 767px) {

  .section-title {

    font-size: 30px;

    margin-bottom: 30px;

  }

}



.demo-wrap {

  display: block;

  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  position: relative;

  margin-bottom: 30px;

}



.demo-wrap img {

  width: 100%;

}



.demo-wrap::before {

  position: absolute;

  left: 0;

  top: 0;

  width: 100%;

  height: 100%;

  content: "";

  background: #fff;

  opacity: 0;

  -webkit-transition: all .4s ease-in-out 0s;

  transition: all .4s ease-in-out 0s;

}



.demo-wrap::after {

  position: absolute;

  left: 50%;

  top: 50%;

  -webkit-transition: all .4s ease-in-out 0s;

  transition: all .4s ease-in-out 0s;

  -webkit-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  min-height: 50px;

  min-width: 140px;

  padding: 5px 20px;

  content: "View Demo";

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

  background: #0bc1bb;

  color: #fff;

  font-weight: 500;

  border-radius: 3px;

  visibility: hidden;

  opacity: 0;

}



.demo-wrap:hover::before {

  opacity: .8;

}



.demo-wrap:hover:after {

  visibility: visible;

  opacity: 1;

}



.innerpage-area {

  padding: 90px 0;

  position: relative;

  z-index: 1;

}



.innerpage-area::before {

  position: absolute;

  left: 0;

  bottom: 0;

  content: url(../images/shape.png);

  z-index: -1;

}



@media (max-width: 991px) {

  .innerpage-area::before {

    display: none;

  }

}



.innerpage-demo-wrap {

  margin-bottom: 30px;

}



.innerpage-demo-wrap .innerpage-demo-img {

  border: 10px solid #eff6ff;

  margin-bottom: 25px;

  -webkit-transition: all .4s ease-in-out 0s;

  transition: all .4s ease-in-out 0s;

}



.innerpage-demo-wrap .innerpage-demo-img a {

  display: block;

}



.innerpage-demo-wrap .innerpage-demo-img a img {

  width: 100%;

}



.innerpage-demo-wrap:hover .innerpage-demo-img {

  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

}



.innerpage-demo-wrap .innerpage-content {

  font-weight: 500;

  text-align: center;

  font-size: 18px;

}



.feature-area {

  padding: 120px 0;

  background: #e3f4fe;

}



.featured-wrap {

  background: #fff;

  border-radius: 8px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

  text-align: center;

  min-height: 150px;

  padding: 20px;

  margin-bottom: 30px;

  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);

          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);

}



.featured-wrap span {

  display: block;

  width: 100%;

  font-size: 14px;

  line-height: 18px;

  font-weight: 600;

  color: #2a2a33;

  margin-top: 15px;

  text-transform: capitalize;

}

/*# sourceMappingURL=style.css.map */